.admin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.78);

  .log_form {
    width: 350px;
    height: 320px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;

    h1 {
      text-align: left;
      color: #105b80;
    }

    p {
      text-align: left;
      font-size: 13px;
      color: #ff1700;
      transition: all ease .3s;
    }

    input {
      background-color: #a0303000;
      border: 1px solid #42647b4a;
      height: 30px;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 5px;
      margin: 10px 0;
    }

    button {
      height: 30px;
      border: none;
      background-color: rgba(12, 92, 128, 0.67);
      border-radius: 4px;
      margin: 10px 0;
      color: white;
      cursor: pointer;
      transition: all ease .3s;

      &:hover {
        background-color: #105b80;
      }
    }
  }
}

.admin_panel {
  background-color: #e2e0e0;
  height: 100vh;
  width: 100%;
  overflow: auto;

  .admin_add_cont_top {
    position: fixed;
    top: 50%;
    right: 5%;
    background-color: #62a6f5;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all ease .3s;
    cursor: pointer;

    &:hover {
      background-color: #395f8c;
      transform: scale(1.1);
    }
  }

  .list_cont {
    padding: 30px 50px;

    table {
      width: 80%;
      margin: auto;

      thead {
        background-color: #ffb560;
        th {
          font-weight: 600;
        }
        th:nth-child(1) {
          width: 10%;
        }
        th:nth-child(2) {
          width: 20%;
        }
        th:nth-child(4) {
          width: 10%;
        }
        tr {
          height: 35px;
        }
      }
      tbody {
        background-color: white;

        tr {
          height: 35px;

          svg {
            color: #ff5200;
            font-size: 18px;
          }
        }
      }
    }
  }

  .admin_add_par {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;

    .admin_add_cont {
      width: 500px;
      height: 550px;
      background-color: white;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      overflow: hidden;
      transition: all ease .3s;
      transform: scale(0);

      label {
        width: 100%;
        height: 230px;
        cursor: pointer;

        input {
          display: none;
        }
        div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 1px 3px #127db19c;
          background-position: center;
          background-size: cover;
        }

        .admin_add_img {
          font-size: 70px;
          color: #127db1;
          font-weight: 100;
          background-color: #e2f3fe;
          outline: 1px dashed #127db1;
          outline-offset: -20px;
        }
      }

      .admin_add_inputs {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 80%;
          margin: 10px 0;
          height: 30px;
          border: 1px solid #a8c3d4;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 5px;
        }

        textarea {
          margin: 10px 0;
          resize: none;
          width: 80%;
          height: 80px;
          border: 1px solid #a8c3d4;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 5px;
        }

        button {
          margin-top: 20px;
          width: 85px;
          height: 35px;
          background-color: #127db1;
          color: white;
          font-weight: 500;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          font-size: 15px;
        }
      }

      .admin_add_del {
        cursor: pointer;
        background-color: #ea374a;
        border: 1px solid #01467082;
        height: 30px;
        color: white;
        font-size: 15px;
        transition: all ease .3s;

        &:hover {
          background-color: #a83345;
        }
      }
    }

    .admin_add_cont_opened {
      transform: scale(1);
    }
  }
}
