.prod_head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: all ease .3s;

  &:hover {

    .product {
      filter:blur(3px);
      opacity:.5;
      transform: scale(.98);
    }
  }

  .product {
    height: 500px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #b7b7b7;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all ease .3s;
    cursor: pointer;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0 15px 30px;

    &:hover{
      transform:scale(1);
      filter:blur(0px);
      opacity:1;
    }

    .img_div {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center;
      box-shadow: 0 1px 3px #c1c1c1;
    }

    .cont_div {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        &:nth-child(2) {
          font-size: 19px;
          font-weight: 500;
          color: #f1951d;
          margin: 10px;
          word-break: break-word;
          width: 80%;
          text-align: left;
        }
        &:nth-child(3) {
          color: #292828;
          margin: 15px 0 5px 12px;
          word-break: break-word;
          width: 90%;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:nth-child(4) {
          color: #5a5959;
          font-size: 18px;
          margin: 30px 0 5px 12px;
        }
        &:nth-child(5) {
          color: #cf1b21;
          font-weight: 500;
          font-size: 16px;
          margin: 10px 12px;
        }

      }

      svg {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 20px;
        color: #cf1b21;
        cursor: pointer;
        transition: all ease .4s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
